* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0px 16px;
}

button {
  background-color: #0a224a;
  color: #fff;
  padding: 17px 65px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

h1 {
  color: #0a224a;
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
}

h2 {
  color: #0a224a;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
}

h3 {
  color: #0a224a;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.8;
}

p {
  color: #0a224a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
  h1 {
    font-size: 50px;
    line-height: 75px;
  }
  h2 {
    line-height: 45px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  p {
    font-size: 18px;
    line-height: 27px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1320px;
    padding: 0;
  }
  .container--small {
    width: 1096px;
    padding: 0;
  }
}
.about {
  width: 375px;
}
.about-us {
  width: 375px;
  background-color: #f7faff;
  font-family: "Roboto", sans-serif;
  color: #0a224a;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 983px;
}
.about-us-name {
  display: flex;
  width: 134px;
  align-items: center;
  padding: 64px 0 30px 16px;
}
.about-us-namesvg {
  margin-right: 20px;
}
.about-us-bigtext {
  margin: 0 auto;
  width: 343px;
  font-size: 28px;
  line-height: 42px;
}
.about-us-text {
  width: 343px;
  margin: 30px auto 0 auto;
}
.about-us-best {
  margin: 0 auto;
  width: 170px;
  text-align: center;
  display: block;
  padding-bottom: 64px;
}
.about-us-best-sub {
  width: 170px;
}
.about-us-best-subnum {
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  margin: 30px 0 14px 0;
}
.about-us-best-subnumr {
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  margin: 30px 0 14px 0;
}
.about-us-img {
  position: relative;
  left: -67px;
  margin: 0 0 64px 0;
}
.about-us-img img {
  height: 400px;
}

@media (min-width: 768px) {
  .about {
    width: 768px;
  }
  .about-us {
    width: 704px;
    margin: 30px auto;
    font-size: 18px;
    line-height: 27px;
    height: 620px;
  }
  .about-us-name {
    width: 144px;
    padding: 64px 0 30px 16px;
  }
  .about-us-bigtext {
    width: 576px;
    font-size: 32px;
    line-height: 45px;
  }
  .about-us-text {
    width: 576px;
  }
  .about-us-best {
    width: 576px;
    display: flex;
    padding-bottom: 36px;
  }
  .about-us-best-sub {
    width: 170px;
  }
  .about-us-best-subnum {
    text-transform: uppercase;
    margin: 30px 33px 14px 0;
  }
  .about-us-best-subtxt {
    margin-right: 33px;
  }
  .about-us-best-subnumr {
    text-transform: uppercase;
    margin: 30px 0 14px 0;
  }
  .about-us-best-subtxtr {
    margin-right: 0;
  }
  .about-us-img {
    margin: 0 32px 100px;
    position: static;
  }
  .about-us-img img {
    height: 540px;
  }
}
@media (min-width: 1440px) {
  .about {
    width: 1320px;
    background-color: white;
  }
  .about-us {
    height: 500px;
    width: 760px;
    margin: 20px 19px;
    font-size: 18px;
    line-height: 27px;
  }
  .about-us-name {
    width: 200px;
    padding: 36px 0 30px 69px;
  }
  .about-us-bigtext {
    width: 622px;
  }
  .about-us-text {
    width: 622px;
  }
  .about-us-best {
    width: 622px;
    display: flex;
    padding-bottom: 34px;
  }
  .about-us-best-sub {
    width: 170px;
    margin-right: 23px;
  }
  .about-us-best-subnum {
    text-transform: uppercase;
    margin: 30px 28px 0 28px;
  }
  .about-us-best-subtxt {
    width: 170px;
  }
  .about-us-best-subnumr {
    text-transform: uppercase;
    margin: 30px 28px 0 28px;
  }
  .about-us-best-subtxtr {
    margin-right: 0;
  }
  .about-us-img {
    margin: 0 32px 100px;
    position: absolute;
    left: 805px;
    /*top: 789px;*/
  }
  .about-us-img img {
    height: 540px;
  }
}