* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0px 16px;
}

button {
  background-color: #0a224a;
  color: #fff;
  padding: 17px 65px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

h1 {
  color: #0a224a;
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
}

h2 {
  color: #0a224a;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
}

h3 {
  color: #0a224a;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.8;
}

p {
  color: #0a224a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
  h1 {
    font-size: 50px;
    line-height: 75px;
  }
  h2 {
    line-height: 45px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  p {
    font-size: 18px;
    line-height: 27px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1320px;
    padding: 0;
  }
  .container--small {
    width: 1096px;
    padding: 0;
  }
}
.price-block {
  width: 343px;
  margin: 0 auto;
}
.price-block-sub {
  display: flex;
  margin: 30px 0;
  font-family: "Roboto", sans-serif;
  color: var(--Blue-font, #0A224A);
}
.price-block-sub__price {
  display: flex;
  flex-direction: row-reverse;
  width: 190px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 9px 0;
}
.price-block-sub__text {
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  width: 153px;
}
.price-block-sub__svg {
  margin: 18px 14px 18px 0;
  width: 40px;
}
.price-block hr {
  color: #0A224A;
}

@media (min-width: 768px) {
  .price-block {
    width: 704px;
  }
  .price-block-sub {
    height: 42px;
  }
  .price-block-sub__text {
    font-size: 32px;
    line-height: 45px;
    width: 163px;
  }
  .price-block-sub__price {
    font-size: 18px;
    line-height: 27px;
    width: 541px;
  }
  .price-block-sub__svg {
    margin: 21px 30px 21px 0;
    width: 50px;
  }
}
@media (min-width: 1440px) {
  .price-block {
    width: 1096px;
  }
  .price-block-sub {
    height: 42px;
  }
  .price-block-sub__price {
    width: 933px;
  }
  .price-block-sub__svg {
    margin: 21px 30px 21px 0;
    width: 50px;
  }
}