* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0px 16px;
}

button {
  background-color: #0a224a;
  color: #fff;
  padding: 17px 65px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

h1 {
  color: #0a224a;
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
}

h2 {
  color: #0a224a;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
}

h3 {
  color: #0a224a;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.8;
}

p {
  color: #0a224a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
  h1 {
    font-size: 50px;
    line-height: 75px;
  }
  h2 {
    line-height: 45px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  p {
    font-size: 18px;
    line-height: 27px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1320px;
    padding: 0;
  }
  .container--small {
    width: 1096px;
    padding: 0;
  }
}
.clients-cards {
  background-color: #F7FAFF;
  height: 374px;
  font-family: "Roboto", sans-serif;
}
.clients-cards-block {
  display: flex;
  min-width: 0;
}
.clients-cards-block__card {
  background-color: white;
  border-radius: 8px;
  width: 343px;
  height: 230px;
  margin: 30px 16px 36px;
}
.clients-cards-block__card img {
  width: 48px;
}
.clients-cards-block__card--id {
  margin: 24px 0 0 24px;
  color: #0A224A;
  font-size: 18px;
  display: flex;
  font-family: "Roboto", sans-serif;
}
.clients-cards-block__card--id--text {
  margin-left: 14px;
}
.clients-cards-block__card--id--text h3 {
  line-height: 32px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
.clients-cards-block__card--id--text p {
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
}
.clients-cards-block__card--text {
  margin: 24px;
}
.clients-cards-block__card--text p {
  line-height: 20px;
  font-size: 14px;
  width: 296px;
}
.clients-cards h2 {
  margin: 0 auto;
  width: 233px;
  line-height: 42px;
  font-size: 28px;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  top: 50%;
}

.slick-next {
  width: 0;
  height: 0;
  padding: 0;
}

.slick-prev {
  width: 0;
  height: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .clients-cards {
    height: 466px;
  }
  .clients-cards-block {
    margin-left: 32px;
  }
  .clients-cards-block__card {
    width: 344px;
    height: 319px;
    margin: 30px 16px 36px 0;
  }
  .clients-cards-block__card img {
    width: 69px;
  }
  .clients-cards-block__card--id {
    font-size: 20px;
  }
  .clients-cards-block__card--id--text {
    margin-left: 14px;
  }
  .clients-cards-block__card--id--text h3 {
    line-height: 45px;
  }
  .clients-cards-block__card--id--text p {
    line-height: 24px;
    font-size: 16px;
  }
  .clients-cards-block__card--text {
    margin-top: 14px;
  }
  .clients-cards-block__card--text p {
    line-height: 27px;
    font-size: 18px;
  }
  .clients-cards h2 {
    width: 266px;
    line-height: 45px;
    font-size: 32px;
  }
}
@media (min-width: 1440px) {
  .clients-cards {
    height: 501px;
  }
  .clients-cards-block {
    margin-left: 60px;
  }
  .clients-cards-block__card {
    width: 424px;
    height: 306px;
    margin: 30px 24px 60px 0;
  }
  .clients-cards-block__card--text {
    margin-top: 16px;
  }
  .clients-cards-block__card--text p {
    line-height: 27px;
    font-size: 18px;
    width: 360px;
  }
}