.beatsellers {
  &-name {
    padding-left: 98px;
    font-size: 28px;
    line-height: 42px;
    width: 179px;
  }

  &-block {
    width: 343px;
    margin: 0 auto;
    color: db;

    &__image {
      margin-bottom: 14px;
      margin-top: 21px;
    }

    &__price {
      font-weight: 700;
    }

    &__scard {
      margin-top: 30px;
    }

    &__simage {
      margin-bottom: 14px;
    }
  }
}
@media (min-width: 768px) {
  .beatsellers {
    &-name {
      padding-left: 282px;
      line-height: 45px;
      font-size: 32px;
    }

    &-block {
      width: 704px;

      &__image {
        margin-top: 30px;
        width: 704px;
        margin-bottom: 15px;
      }

      &__tcard {
        display: flex;
      }

      &__scard {
        margin-top: 32px;
      }

      &__simage {
        margin-bottom: 15px;
      }

      &__scardl {
        margin-right: 32px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .beatsellers {
    &-name {
      padding-left: 618px;
    }

    &-block {
      width: 1096px;
      display: flex;

      &__image {
        margin-top: 30px;
        width: 536px;
        margin-bottom: 15px;
      }

      &__tcard {
        width: 536px;
        display: flex;
      }

      &__scard {
        margin-top: 30px;
      }

      &__simage {
        margin-bottom: 15px;
      }

      &__scardl {
        margin-right: 20px;
        margin-left: 24px;
      }
    }
  }
}
