.clients-reviews {
  background-color: $section-color;
  font-family: "Roboto", sans-serif;
  &__block {
    display: flex;
    min-width: 0;
  }
  &__card {
    background-color: $main-color;
    border-radius: 8px;
    margin: 30px 16px 36px;
    width: calc(100% - 16px)!important;
    img {
      width: 48px;
    }
  }
  &__userdata {
    margin: 24px 0 0 24px;
    color: $txt-color;
    font-size: 18px;
    display: flex;
    font-family: "Roboto", sans-serif;
  }
  &__textdata {
    margin-left: 14px;
    h3 {
      line-height: 32px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
    }
  }
  &__comment {
    margin: 24px;
    line-height: 20px;
    font-size: 14px;
    width: 296px;
  }
  h2 {
    margin: 0 auto;
    padding-top: 36px;
    width: 233px;
    line-height: 42px;
    font-size: 28px;
  }
}
.clients-reviews{
  .slick-track {
    display: flex;
    gap: 0!important;
  }
  
  .slick-list {
    overflow: hidden;
  }
  
  .slick-arrow {
    position: absolute;
  }
  
  .slick-slide {
    height: auto!important;
  }
}

@media (min-width: 768px) {
  .clients-reviews {
    &__block {
      margin-left: 32px;
    }
    &__card {
      margin: 30px 16px 36px 0;
      width: calc(50% - 16px)!important;
      img {
        width: 69px;
      }
    }
    &__userdata {
      font-size: 20px;
    }
    &__textdata {
      margin-left: 14px;
      h3 {
        line-height: 45px;
      }
      p {
        line-height: 24px;
        font-size: 16px;
      }
    }
    &__comment {
      margin-top: 14px;
      line-height: 27px;
      font-size: 18px;
    }
    h2 {
      width: 266px;
    }
  }
}

@media (min-width: 1440px) {
  .clients-reviews {
    &__block {
      margin: 0 auto;
      width: 1296px;
    }
    &__card {
      margin: 30px 24px 60px 0;
      width: calc(33% - 24px)!important;
    }
    &__comment {
      margin-top: 16px;
      width: 360px;
    }
    h2 {
      padding-top: 60px;
    }
  }
}
