.footer {
  background-color: $txt-color;

  &_container {
    padding-top: 36px;
    padding-bottom: 16px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  &_nav {
    margin-top: 42px;
  }
  &_content {
    color: $main-color;
  }
  &_sub-title {
    opacity: 0.6;
    text-align: center;
    &-cont {
      margin-top: 64px;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  .nav {
    &_list {
      display: grid;
      gap: 8px;
    }
    &_item {
      color: aqua;
    }
  }
  &_located {
    display: grid;
    gap: 8px;
    margin-top: 36px;
    grid-column-start: 1;
  }
  &_number {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 35px;
    grid-column-start: 1;
  }
}
.messengers {
  display: flex;
  justify-content: end;
  grid-column-start: 2;
  gap: 16px;
}
.logo-icon {
  width: 100px;
  height: 16px;
  fill: $main-color;
}
.messengers-icon {
  width: 28px;
  height: 28px;
}
@media (min-width: 768px) {
  .footer {
    &_container {
      padding: 48px 32px 36px;
    }
    &_nav {
      margin-top: 0;
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 4;
    }
    &_sub-title-cont {
      display: grid;
      justify-items: center;
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .nav {
      &_list {
        gap: 16px;
      }
    }
  }
  .messengers {
    grid-column-start: 3;
    justify-content: end;
    &-container {
      width: 40px;
      height: 40px;
    }
  }
}
@media (min-width: 1440px) {
  .footer {
    &_container {
      padding-top: 48px;

      grid-template-columns: 1fr 2fr 1fr;
    }
    &_number {
      gap: 24px 87px;
      grid-row-start: 2;
      grid-column-start: 2;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 72px;
    }
    .nav {
      &_list {
        display: flex;
        gap: 30px;
      }
    }
    &_number,
    &_located {
      margin-top: 24px;
    }
    &_sub-title {
      &-cont {
        margin-top: 35px;
      }
    }
  }
  .messengers {
    gap: 30px;
  }
}
