.footer {
  background-color: $txt-color;
  &_container {
    padding-top: 32px;
    padding-bottom: 32px;
    display: grid;
  }
  &_content {
    color: $main-color;
  }
  &_sub-title {
    opacity: 0.6;
    text-align: center;
    &-cont {
      margin-top: 64px;
    }
  }
  .nav {
    &_list {
      display: grid;
      gap: 8px;
    }
    &_item {
      color: aqua;
    }
  }
}
.located {
  display: grid;
  gap: 24px;
  margin-top: 32px;
}
.number {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 64px;
}
@media (min-width: 768px) {
  .footer {
    &_nav {
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    &_sub-title-cont {
      display: grid;
      justify-items: center;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .nav {
      &_list {
        display: grid;
        gap: 16px;
      }
    }
  }
}
@media (min-width: 1320px) {
  .footer {
    &_address {
      gap: 87px;
      display: flex;
      align-items: flex-start;
    }
    .nav {
      &_list {
        display: flex;
        gap: 30px;
      }
    }
  }
  .number,
  .located {
    margin: 0;
  }
}
